    {{> head }}
    
    {{> navbar }}

   <div class="row">

       <div class="col-8">
           <h1>About</h1>
           <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae veritatis perferendis autem a doloribus vitae veniam provident eligendi, accusantium corporis saepe quo consequatur cupiditate eos odit, voluptate soluta fugit ullam.</p>
       </div>

       <div class="col-4">
           <h2>Capitan america</h2>
       </div>

   </div>

 {{> footer }}